.Error {
    position: relative;
    top: -3vw;
    left: -1vw;
}
.TextError {
    margin: 0 auto;
    position: relative;
}
.ImgError {
    position: absolute;
    top: 11vw;
    left: 26vw;
    width: 18vw;
}
.Heading {
    position: absolute;
    top: 12vw;
    left: 45vw;
    margin: 0;
    font-family: ChocolatesEducationalRegular;
    font-size: 8vw;
    color: #0c0c0c;
    line-height: 7vw;
}
.Heading2 {
    position: absolute;
    top: 26vw;
    left: 29vw;
    margin: 0;
    font-family: ChocolatesEducationalRegular;
    font-size: 4vw;
    color: #0c0c0c;
    line-height: 5vw;
}
.DescriptionError {
    position: absolute;
    top: 31vw;
    left: 30vw;
    margin: 0;
    font-family: ChocolatesEducationalRegular;
    font-size: 2vw;
    color: #0c0c0c;
    line-height: 2.5vw;
}
.Back {
    position: absolute;
    top: 43vw;
    left: 43vw;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    padding: 0.3vw 3vw;
    font-family: ChocolatesEducationalMedium;
    font-size: 2vw;
    color: #7E36DA;
    border-radius: 0.3vw;
    background-color: white;
    border: 0.2vw solid #7E36DA
}
.Backk {
    text-decoration: none;
}